<%= javascript_pack_tag 'purchasing_controller' %>
<h1>Order Page</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @items.where(lan_ticket:false,available:true).each do |item| %>
      <%= render 'table', item:item %>
    <% end %>
  </tbody>
</table>
<h2>Tickets</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @items.where(lan_ticket:true,available:true).each do |item| %>
      <% unless item.lan.start_date.past? %>
        <%= render 'table', item:item %>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
  <div id="basket">
</div>
<button id="Buy_now">Buy now</button>
<button id="Pay_later">Pay with cash</button>
